- provide(:title, t(:title_about))
%h1= t(:about_h1)
%p
  = t(:about_p1_1)
  %a{:href => "http://www.railstutorial.org/"}
    %em= t(:about_p1_2)
  = t(:about_p1_2_1)
  %a{:href => "http://www.railstutorial.org/book"}
    = t(:about_p1_3)
  = t(:about_p1_4)
  %a{:href => "http://screencasts.railstutorial.org/"}
    = t(:about_p1_5)
  = t(:about_p1_6)
  %a{:href => "http://rubyonrails.org/"}
    = t(:about_p1_7)
  = t(:about_p1_8)
